{% extends "park_data/base.html"%} 

{% load static %}
{%block title%}Change password{%endblock title%}

{%block main%}
  <div class="container my-5">
    <div class="row">
        <div class="col-sm-2 border-bottom">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'home' %}" class="btn btn-primary">home</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully </h3>
            <div>

            </div>
        </div>
    </div>
  </div>
{%endblock main%}
