{% extends "park_data/base.html" %}
{% load static %}

{% block main %}

<div class=" container-fluid text-center my-5 bg-light">
  <h1 class="display-1 fw-bold text-success">
    <img
      src="{% static 'assets/images/Saf.logo.png' %}"
      alt="Logo"
      width="80"
      height="80"
      class="me-2 rounded-circle"
    />
    African Stem Safaris
  </h1>
  <p class="lead text-muted">
    Discover the beauty and wild majesty of Africa's Big Five
  </p>
  <hr class="w-25 mx-auto mt-4" />
</div>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow text-center p-4">
        <h3 class="mb-3 text-danger">You are logged out</h3>
        <hr>
        <h5 class="mb-4">Do you want to continue?</h5>

        <div class="d-flex justify-content-center gap-3">
          <a href="{% url 'login' %}" class="btn  btn-sm btn-primary btn-lg px-4">
            Log in
          </a>
          <a href="{% url 'register' %}" class="btn btn-sm btn-warning btn-lg px-4 text-white">
            Sign Up
          </a>
          <a href="{% url 'home' %}" class="btn btn-sm btn-success btn-lg px-4 text-white">
            Home 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
