{% extends 'park_data/base.html'%} {% load static %}
<!--Big five Block-->
{% block main %}
<!--KARIBU KENYA-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow p-2 m-2">
        <h2>KARIBU KENYA-THE BEST DESTINATION IN AFRICA</h2>

        <p>
          Welcome to paradise! An unrivalled wealth of wildlife, bird-life, and
          scenic beauty - through the eyes of Africa Stem Safaris, one of the
          finest safari companies in Africa.<br />
          Kenya is truly a land of contrast with astounding and incredibly
          dramatic variations of altitude and terrain within its boundaries.
          With over 40 national parks and reserves, few visitors return home
          without spotting the big five - Lion, Elephant, Rhino, Leopard and
          Buffalo.<br />
          The Kenya coast too leaves a lasting impression - miles upon miles of
          unspoilt palm fringed white sandy beaches, stretching for 500
          kilometres, make the Kenya coast, the take off point for sunkissed
          beaches, exciting watersports and for trips into the hinterland.<br />

          Experience the "magic" of the Serengeti and the Ngorongoro!

          <br />
          The annual migration of over a million wildebeest, zebra and other
          plains game with the ferocious predators trailing them to the Mara
          ecosystem will leave you obsessed until you return to experience this
          amazing spectacle again and again. Combine with this "mystical"
          Zanzibar and you will have connoisseured the best of East Africa!

          <br />
          In addition to our modern well-serviced fleet of "Safari Mini
          vehicles," we have now acquired brand new 4 x 4 land cruisers equipped
          with long range radio communication to enhance your safari, and keep
          in touch with our "Safari Operations" base in Nairobi, which is manned
          24 hours.

          <br />
          With Twenty-Five years of "hands on" experience in the safari
          business, I promise you an unforgettable African Adventure at
          unbeatable value, where you will yearn for that return to paradise!
        </p>
        <p>SAFARI NJEMA!</p>
        <p>Mr. S. Mumanyi</p>
        <p>Tours Department</p>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="card shadow p-2 m-2">
        <h2>Why Choose African Stem Safaris?</h2>
        <p>
          With so many "Safari companies" and tour operators to choose from, why
          should you choose to go with African Stem Safaris?
        </p>
        <h4>Professionalism and Experience</h4>
        <p>
          Over 25 years of experience in providing quality safari services! The
          management staffs of African Stem Safaris hold professional degrees in
          travel and tours. We understand why travel must be affordable and what
          makes viewing wildlife special.
        </p>
        <h4>Quality</h4>
        <p>
          Modern comfortable Toyota and Nissan safari vans and Toyota Land
          Cruisers for ground travel. A booking with the only highest quality
          hotels, lodges and camps.
        </p>
        <h4>Safety & Comfort</h4>

        <p>
          Your safety and comfort are our highest priority. All our vehicles are
          rigidly maintained and all are equipped with radios allowing your
          driver to maintain contrast with the office in Nairobi. Your driver/
          guides are trained, experienced and certified wildlife guides. Our
          safari vehicles are specially modified to provide the most comfortable
          ride possible with a clear view for all passengers. They have a large
          latch that pops up when on game viewing drives to enable you stand
          while in the vehicle for better sights and photography.
        </p>
        <h4>Access</h4>
        <p>
          When you purchase a safari with African Stem Safaris, you are dealing
          directly with the company providing your services, not with an agent
          shopping services in Africa on your behalf.
        </p>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="card shadow p-2 m-2">
        <h4>Personalized Services</h4>
        <p>
          African Stem safaris wants you to return and we want your personal
          recommendation. We can only achieve this by providing you with the
          best travel services you have ever experienced.
        </p>
        <p>
          <mark> Affordability:</mark>African Stem safaris strives to keep its
          services affordable. We believe our prices to be the best available.
          You do not have to pay the most to get the best!
        </p>
        <p>
          <mark>Accommodation:</mark> African Stem safaris provides the best in
          accommodation. From the best of the upscale hotels, lodges and camps
          to the more modest for those on a budget.
        </p>
        <p>
          <mark>Travel Convenience:</mark> At African Stem safaris you do not
          have to book your trip of a lifetime on a group departure. We will
          arrange a personalized travel program for a minimum of 2 passengers,
          with your own driver/guide and vehicle.
        </p>

        <p>
          Heuristic Travel our motto is "Conservation Conscience Eco-tourism."
          We offer you a safari that goes beyond the usual wildlife photography
          focused tour, to include talks with conservation authorities and
          cultural experiences as well. We at African Stem safaris believe that
          any visit to Africa can represent the trip of a lifetime, returning
          home with incredible photographs, videos and wonderful memories. We
          however believe that "Eco-tourism" travellers should gain even more.
          We endeavour that our passengers should return home with an
          understanding of why many of the African species are vanishing, and
          gain an appreciation for why this is happening and what must be done
          to alter this pattern. Travellers should also return home with a
          greater appreciation for African cultures and recognition that western
          culture is not the only way of life.
        </p>
        <h4>Creative Itineraries</h4>
        <p>
          For the wildlife enthusiast, your itinerary can include visits to all
          the well-known parks and reserves of East Africa and special visits to
          private reserves and private ranches where it is possible for you to
          view wildlife with little interference from other tourist groups. For
          those with a particular interest in cultural aspects, your itinerary
          can include visits with indigenous tribal groups and visits to
          cultural locations, farms and sporting arenas rarely offered by other
          operations.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
