{% extends 'park_data/base.html' %} {% load static %} {% block main %}
<div class="container py-5">
  <h2 class="mb-4 text-center text-success"> 🏨 Accommodations</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for accommodation in accommodations %}
    <div class="col">
      <div class="card h-100 shadow-sm">
        {% if accommodation.image %}
      <a href= "{% url 'accommodation_details' accommodation.id %}" >
        <img
          src="{{ accommodation.image.url }}"
          class="card-img-top"
          alt="{{ accommodation.hotel_name }}"
        /> 
      </a>
        {% else %}
        <img
          src="{% static 'assets/images/default_hotel.jpg' %}"
          class="card-img-top img-hover" height="200"
          alt="No image available"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title text-primary">
            {{ accommodation.hotel_name }}
          </h5>
          <p class="card-text">
            {{ accommodation.description|truncatewords:25 }}
          </p>
          <div class="row justify-content-center">
            <div class=" card col-sm-4 m-1">
              <strong>Price/Night:</strong> Ksh.{{ accommodation.price_per_night}}
            </div>
            <div class="card col-sm-4 m-1">
              <strong>Meal Cost:</strong> Ksh.{{ accommodation.meal_cost }}
            </div>

            <div class="card col-sm-3 m-1">
              <strong>Extra Fee:</strong> Ksh.{{ accommodation.fee }}
            </div>
            <div class="col-sm">
              <p class="list-group-item">
                <strong>Contact Info:</strong> {{ accommodation.contact_info }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <span class="text-muted small"
            >Park: {{ accommodation.park.name }}</span
          >
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No accommodations available for this park.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
