{% extends 'park_data/base.html' %} {% load static %} {% block main %}
<!-- Hero Section -->

<div class="text-end m-1">
  <ul class="navbar-nav ms-auto me-3">
    {%if user.is_authenticated%}

    <li class="nav-link active text-hover">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %} Welcome : {{request.user.username }}
        <button class="btn btn-sm btn-outline-success" type="submit">
          Log Out
        </button>
      </form>
    </li>

    {% else%}
    <li class="nav-link active text-hover">
      <a class="btn btn-sm btn-outline-success" href="{% url 'login' %}">
        Login</a
      >

      <a class="btn btn-sm btn-outline-success" href="{% url 'register' %}">
        Register</a
      >
    </li>
    {% endif %}
  </ul>
</div>
<div class="container-fluid text-center my-5 bg-light">
  <h1 class="display-1 fw-bold text-success">
    <img
      src="{% static 'assets/images/Saf.logo.png' %}"
      alt="Logo"
      width="80"
      height="80"
      class="me-2 rounded-circle"
    />
    African Stem Safaris
  </h1>
  <p class="lead text-muted">
    Discover the beauty and wild majesty of Africa's Big Five
  </p>
  <hr class="w-25 mx-auto mt-4" />
</div>
<!-- Big Five Block -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <h2 class="fw-bold text-info text-center mb-4">What to Expect ‼</h2>
    </div>
    <div class="col-md text-end">
      <a
        href="{% url 'touring_vans_all'%}"
        class="btn btn-sm text-success btn-outline-warning"
      >
        🚔 Tour van
      </a>
      <a
        href="{% url 'accommodation_list_all'%}"
        class="btn btn-sm text-success btn-outline-warning"
      >
        🏨 Hotels
      </a>
      <a
        href="{% url 'park_list' %}"
        class="btn btn-sm text-success btn-outline-warning"
      >
        🐘 View Parks
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4 mb-4">
      <div class="card">
        <a href="{% url 'animal' 1 %}">
          <img
            class="img-fluid rounded img-hover"
            src="{% static 'assets/images/Lion.jpg' %}"
            alt="Lion"
          />
        </a>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <a href="{% url 'animal' 2 %}">
          <img
            class="img-fluid rounded img-hover"
            src="{% static 'assets/images/Elephant 1.jpg' %}"
            alt="Elephant"
          />
        </a>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <a href="{% url 'animal' 3 %}">
          <img
            class="img-fluid rounded img-hover"
            src="{% static 'assets/images/Rhino.jpg' %}"
            alt="Rhino"
          />
        </a>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
          <a href="{% url 'animal' 4 %}">

      <div class="card">
          <img
            class="img-fluid rounded img-hover"
            src="{% static 'assets/images/buffalo.jpg' %}"
            alt="Buffalo"
          />
      </div>
    </a>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <a href="{% url 'animal' 5 %}">
          <img
            class="img-fluid rounded img-hover"
            src="{% static 'assets/images/Leopard.jpg' %}"
            alt="Leopard"
          />
        </a>
      </div>
    </div>
    <hr />

    <div class="mt-5">
      <h4 class="mb-3 text-primary">Natural resources</h4>
      <div class="row row-cols-2 row-cols-md-4 g-2">
        {% for park in parks %} {% if park %}
        <div class="col-md">
          <div class="image-overlay-container shadow-sm">
            <a href="{% url 'park_list'%}">
              <img src="{{park.park_image.url }}" alt="{{ caption }}" />
            </a>
            <div class="overlay-text">{{ park.name }}</div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>

    <hr />
  </div>
</div>
{% endblock main %}
