{% extends 'park_data/base.html'%} 
{% load static %}
{% block main %}

<div class="container my-5">
  <div class=" row text-center mb-5">
    <div class="col-md">
    <h1 class="fw-bold text-success"> Itineraries</h1>
    </div>
        <div class="col-md">

    <a href="{% url  'contact'%}" class="btn btn-success"> Talk to us </a>
  </div>
</div>
  <div class="card shadow p-3 mb-4">
    <h3>CUSTOM ITINERARIES AND EXTENSIONS:</h3>
    <p>
      In addition to the standard itineraries most commonly requested, you can
      tailor an itinerary to meet your specific needs. African Stem Safaris can
      provide arrangements at any of the national parks and reserves or in most
      of the private ranches/reserves in Kenya and Tanzania. You can select from
      any locations in Kenya or Tanzania and we can provide all arrangements. It
      is also possible to select these other locations as optional extension
      trips for any passengers wishing to extend their stay. Information on some
      of the more popular alternative locations is listed below.
    </p>
    <h4>Creating A Custom Itinerary:</h4>
    <p>
      If you are familiar with East Africa, then you need only let us know what
      you would like in the way of an itinerary. We will return a cost per
      passenger to you as quickly as possible after knowing how many you are in
      the group. If you are not familiar with East Africa, then simply return
      the postcard included in this brochure/ website and we will send you
      information on other locations, which include detailed descriptions of
      what your clients can expect to see and experience at each place.
    </p>
    <h4>Optional Extension Trip:</h4>
    <p>
      While any location in East Africa can be selected as a destination for an
      optional extension for your group, we highly recommend the coastal area.
      Nearly all groups entering East Africa from the U.S. enter either through
      Nairobi or Kilimanjaro Airport outside Arusha, Tanzania. Few enter through
      Mombasa or Dar-Es Salaam on the coast. Consequently most U.S. Groups miss
      the extraordinary experience of coastal life. Earnest Hemingway was a
      frequent visitor to the Kenya coast, saying.... "This cannot be less than
      natural beauty, the endless sand, the reefs, the lot are completely
      unmatched in the world." Both Kenya and Tanzania coastal areas offer some
      of the most unique and exotic travel destinations to be found anywhere.
    </p>
    <h4>Coastal extensions</h4>
    <p>
      Often groups looking for an extension in East Africa are looking for an
      experience other than the one, which involves viewing of wildlife. Of
      particular interest in the Arab, Indian and Swahili cultures which
      dominate the coastal areas as well as the recreational opportunities. On
      both the North and South Beaches there seem endless white sand beaches,
      clear water and protected reefs. In additional to recreational
      opportunities such as snorkelling, diving, fishing, glass boat tours of
      the reef, sailing on Arab dhows, windsurfing, bicycling, live bands, stage
      shows and discos there are numerous cultural experiences.
    </p>
    <p>
      Lamu: Most popular locations for culture history are; Lamu, a historic mix
      of Arab and Sawahili cultures where it is possible for your clients to
      live in a Swahili - Arab culture little changed over the centuries.
    </p>
    <p>
      Malindi: Offering a most unusual blend of Swahili, Arab and European
      cultures. Here there are upscale accommodations, shopping and visits to
      the Gedi Ruins, an ancient swahili city dating back to the 1200s. Beaches
      here are less populated than those around Mombasa, but still offer special
      amenities.
    </p>
    <p>
      Mombasa North or South Beach Areas: A major trading centre with historic
      sites of Fort Jesus built by the Portuguese in 1590 to defend the port and
      walking tours of the Old Port of Mombasa, visiting historical homes and
      government buildings, some dating back to the late 1400s. Shopping for
      unique gifts is one of the more popular activities.
    </p>
    <p>
      Zanzibar Island: Our most popular extension. Zanzibar is perhaps most
      famous as a slave trading port and the most important supplier of spices
      and cloves. The best base from which to start your cultural tour is Stone
      Town, the oldest part of the city with a rich Arab and Indian heritage.
      Walking historical tours and shopping in Stone Town are prime activities.
    </p>
    <h3>LAND AND AIR TERMS & CONDITIONS</h3>
    <h5>Ground Transportation</h5>
    <p>
      African Stem Safaris uses modern, comfortable safari vans, each equipped
      with special comfort ride suspensions, individual seats and pop-up viewing
      roof. All passengers will have a window seat. Our drivers are carefully
      selected, friendly, English speaking, trained certified professionals, who
      will see to your passenger comfort, safety and enjoyment. Basic tent
      camping programs may employ to use of a lorry for equipment and passengers
      if so requested by the client.
    </p>
    <h5>Air Carrier Arrangements.</h5>
    <p>
      African Stem Safaris provides air arrangements with All Major Airlines and
      Charter flights. All classes of service are available. Costs as quoted are
      for coach. Low season often depends on the carrier but most of them range
      from April 01st through June 16th and September 01st through October 31st.
    </p>
    <h3>TERMS AND CONDITIONS</h3>
    <p>
      ROLE OF African Stem Safaris: The role of African Stem Safaris is to
      manufacture tours and itineraries to fit the requirements of our
      customers. In doing so, we may use independent suppliers for the provision
      of selected services. Whatever the case, we accept responsibility for the
      proper performance of your contract with us subject to the following
      booking conditions.
    </p>
    <p>
      RESERVATIONS: A binding contract between you and African Stem Safaris only
      exists when a deposit of 25% of the total cost of the safari has been paid
      by you. The remainder is payable 35 days before commencement of our
      services. If payment is not made by the due date, we reserve the right to
      treat booking as having been cancelled by you, and apply cancellation
      charges as set out in Cancellation Policy under.
    </p>
    <h5>CANCELLATION POLICY (a) BY YOU</h5>
    <p>
      African Stem Safaris must be notified of cancellations in writing. If
      notification is received 21 days or less before commencement of your
      services, a cancellation fee of 25% of the price of these services is
      payable. If notification is received 7 days or less before commencement
      the cancellation fee payable is 100% of the price.
    </p>
    <h5></h5>
    <p>
      Cancellation policy is as determined by air carriers and overseas
      suppliers. Forfeited amounts are in compliance with those set by air
      carriers and service suppliers. We strongly recommend that passengers
      purchase Trip Cancellation Insurance. Applications forms are available
      from African Stem Safaris.
    </p>
    <h5></h5>
    <p>
      (b) BY US While doing our utmost to avoid it, we must reserve the right to
      cancel arrangements. If this should happen (other than due to your default
      in paying) we will offer the choice of an alternative arrangement (paying
      or receiving a refund in respect of any price difference) or receiving a
      full refund of all monies paid. If an arrangement is cancelled because an
      insufficient number of people have booked a scheduled tour, notification
      will be given no less than 14 days before commencement of our services. If
      we are forced to curtail a tour after departure due to circumstances
      amounting to Force Majeure, we regret we cannot make any refunds or pay
      any compensation or be responsible for any costs or expenses incurred by
      you as a result.
    </p>
    <h5>FORCE MAJEURE</h5>
    <p>
      "Force majeure" means those circumstances where the performance of our
      contract with you is prevented or affected by reasons of war, threat of
      war, strife, industrial dispute, governmental actions and all similar
      events beyond our control. In these circumstances, we shall not be liable
      to pay any compensation or otherwise be responsible for any expenses or
      losses you might incur where we are forced as a result to cancel, delay,
      curtail or change your arrangement in any way or where the performance or
      prompt performance of our contractual obligations is prevented or
      affected.
    </p>
    <h5>CHANGES</h5>
    <p>
      African Stem Safaris reserve the right to make changes to website
      (brochure) details and holiday arrangements both before and after your
      booking is made. Most changes will be minor. If we have to make
      significant changes to an arrangement, you will be notified at the
      earliest possible opportunity. In such cases you will have the choice of
      either accepting the change or booking alternative arrangements (paying or
      receiving a refund in respect of any price difference) or cancelling your
      holiday.
    </p>
    <h5>LIABILITIES</h5>
    <p>
      African Stem Safaris and co-operating individuals, agencies and suppliers,
      act only as agents for the travel program participants in regard to
      transportation by any means, accommodations and other services and assume
      no liability either by defect in any vehicle or for any reason whatsoever
      or through the act or default of any company or person engaged in
      conveying the passenger or in carrying out the arrangement of this
      program.
    </p>
    <p>
      They can accept no responsibility for losses or additional expenses due to
      delay or charges in air or other services, sickness, weather, strike, war,
      act or terrorism, or civil disturbance or other causes. All such losses
      must be borne by the passenger as program rates provided are for
      arrangements only for time stated. African Stem Safaris reserves the right
      to refuse to accept or retain any person as a member of the travel program
      at any time or make changes in the published itinerary whenever in their
      sole judgement conditions warrant or if they deem it necessary for the
      comfort, safety and convenience of the travel program.
    </p>
    <p>
      The right is reserved to substitute lodging of similar category for those
      indicated. African Stem Safaris Kenya reserves the right to cancel the
      program prior to departure, in which case full refund will constitute full
      settlement to the passenger. Due to sometimes-unreliable services found in
      developing countries individual components of the itinerary (such as
      lectures) may be subject to change or cancellation without notice. The
      sole function of African Stem Safaris in connection with this travel
      program is to act as a conduit between the participants and domestic/
      overseas service suppliers. African Stem Safaris Kenya has no other
      responsibility, contractual or otherwise, to anyone in connection with
      this travel program and accepts no responsibility on their behalf.
      Additionally African Stem Safaris Kenya will accept no responsibility with
      regard to any individual health matters arising from participation in any
      portion of a travel program, including any health matters which might
      arise as a result of participation cultural activities or in high altitude
      strenuous activities.
    </p>
    <h5>COMPLAINTS</h5>
    <p>
      Should a problem occur, please advise both African Stem Safaris and the
      supplier of the service in questions immediately as most problem are
      resolved most easily on the spot. Should you remain dissatisfied, please
      write to us setting out the complaint in detail within 14 days of the end
      of our services under the contract. We cannot accept responsibility for
      any complaints, which are not notified entirely in accordance with this
      clause.
    </p>
  </div>
</div>
{% endblock main %}
