{% extends 'park_data/base.html' %}
{% load static %}

{% block main %}
<div class="container py-5">
  <h2 class="mb-4 text-center text-success">Available Touring Vans</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for van in vans %}
    <div class="col">
      <div class="card h-100 shadow">
        {% if van.image %}
        <img src="{{ van.image.url }}" class="card-img-top img-hover" alt="{{ van.van_name }}">
        {% else %}
        <img src="{% static 'assets/images/default_van.jpg' %}" class="card-img-top" alt="Van Image">
        {% endif %}
        <div class="card-body">

          <h5 class="card-title text-primary"> 🚘 {{ van.van_name }} 
            {% if van.availability %}
            <a href="#" class="btn btn-outline-warning btn-sm mx-5"> 🤝Book </a>
          {% endif %}
          </h5>

          <div class="row"> 
            <div class="col-sm">
            <strong>Type:</strong> {{ van.van_type }} <br>
            <strong>Seating Capacity:</strong> {{ van.seating_capacity }} <br>
            <strong>Daily Rate:</strong> Ks{{ van.daily_rate }} <br>
          </div>
          <div class="col-sm">
            <strong> ꔮ Driver Included:</strong> {{ van.driver_included|yesno:"Yes,No" }} <br>
            <strong>Availability:</strong> 
            {% if van.availability %}
              <span class="text-success"> ✅️</span>
            {% else %}
              <span class="text-danger"> ❌</span>
            {% endif %}
          
          <p><i class="bi bi-telephone-inbound-fill text-success"></i><strong class="text-danger">.  {{ van.contact_info }}</strong></p>
        </div>
        </div>
        </div>
        <div class="card-footer text-muted">
          Park: {{ van.park.name }}
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No touring vans available at the moment.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
